.container {
  display: flex;
  background-color: #242424;
  box-sizing: border-box;
}
.forms {
  width: 40vw;
  height: 1000px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 100px;
  padding-left: 40px;
  box-sizing: border-box;
}

.resume {
  width: 60vw;
  height: 1000px;
  align-items: center;
}