h2 {
    padding-left: 5px;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-left: 10px;
    margin-bottom: 40px;
}

input {
    font-size: 17px;
    border-radius: 10px;
    background-color: wheat;
    color: black;
}

input:focus {
    outline: none;
    border: 2px solid white
}

.field {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
}

button {
    margin-right: 30%;
    margin-bottom: 30px;
}

.head {
    background-color: #242424;
    border: 0;
    outline: 0;
    font-size: 25px;
    padding: 4px;
    margin-left: 10px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    display: flex;
}

svg {
    height: 30px;
    width: 30px;
    fill: white;
    margin-right: 10px;
}
